@tailwind base;
@tailwind components;

@layer base {
  html {
    @apply text-grey;
  }
  button {
    @apply text-black;
  }
  h1 {
    @apply text-3xl text-primary;
  }
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/fonts/roboto-mono-v13-latin-regular.woff")
    format("woff");
  font-display: swap;
}

@tailwind utilities;
