---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

const thomblweed = "thomblweed";
---

<Layout title={thomblweed}>
  <main class="h-full mx-auto w-11/12 max-w-screen-xl"></main>
  <Footer footerText={thomblweed} />
</Layout>
